.App {
  text-align: center;
  max-width: 1080px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button, input, label, legend, .card, .btn {
  width: 100%;
}

col {
  margin: 5px;
}

container {
  max-width: 95%;
}